---
import EducationEntry from "./EducationEntry.astro";
---

<section>
  <p class="font-bold leading-none text-white text-5xl my-12">Education</p>
  <ol class="relative border-l border-gray-200 dark:border-gray-700">
    <EducationEntry
      timeframe="2014 — 2017"
      school="Rochester Institute of Technology"
      description={`Bachelor's Degree, Cum Laude, Web & Mobile Computing concentration in Application Development`}
    />
    <EducationEntry
      timeframe="2012 — 2014"
      school="SUNY Polytechnic Institute"
      description={`Transferred to Rochester Institute of Technology (RIT)`}
    />
  </ol>
</section>
