---
import EducationEntry from "./EducationEntry.astro";

const educations = await Astro.glob("./entries/*.md");
const sortedEducations = educations.sort((a, b) => {
  return b.frontmatter.endYear > a.frontmatter.endYear ? 1 : -1;
});
---

<section>
  <p class="font-bold leading-none text-white text-5xl my-12">🎓 Education</p>
  <ol class="relative border-l border-gray-200 dark:border-gray-700">
    {
      sortedEducations.map((edu) => (
        <EducationEntry
          startYear={edu.frontmatter.startYear}
          endYear={edu.frontmatter.endYear}
          school={edu.frontmatter.school}
          description={edu.compiledContent()}
        />
      ))
    }
  </ol>
</section>
