---
import { getCollection } from "astro:content";
import EducationEntry from "./EducationEntry.astro";

const educations = await getCollection("education");
const sortedEducations = educations.sort((a, b) => {
  return b.data.endYear > a.data.endYear ? 1 : -1;
});
---

<section>
  <p class="font-bold leading-none text-white text-5xl my-12">🎓 Education</p>
  <ol class="relative border-l border-gray-200 dark:border-gray-700">
    {
      sortedEducations.map((edu) => (
        <EducationEntry
          startYear={edu.data.startYear}
          endYear={edu.data.endYear}
          school={edu.data.school}
          description={edu.body}
        />
      ))
    }
  </ol>
</section>
