---
import ArrowDownIcon from "../Icon/ArrowDownIcon.astro";
import BriefcaseIcon from "../Icon/BriefcaseIcon.astro";
import SecondaryButton from "../Utility/SecondaryButton.astro";
import Role from "./Role.astro";

export interface Role {
  company: string;
  title: string;
  logo: string;
  start: string | { label: string; dateTime: string };
  end: string | { label: string; dateTime: string };
}

const roles: readonly Role[] = [
  {
    company: "Planetaria",
    title: "CEO",
    logo: "",
    start: "2019",
    end: {
      label: "Present",
      dateTime: new Date().getFullYear().toString(),
    },
  },
  {
    company: "Airbnb",
    title: "Product Designer",
    logo: "",
    start: "2014",
    end: "2019",
  },
  {
    company: "Facebook",
    title: "iOS Software Engineer",
    logo: "",
    start: "2011",
    end: "2014",
  },
  {
    company: "Starbucks",
    title: "Shift Supervisor",
    logo: "",
    start: "2008",
    end: "2011",
  },
] as const;
---

<div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
    <BriefcaseIcon class="h-6 w-6 flex-none" />
    <span class="ml-3">Work</span>
  </h2>
  <ol class="mt-6 space-y-4">
    {roles.map((role) => <Role role={role} />)}
  </ol>
  {/* @TODO: Make download PDF work */}
  <SecondaryButton class="group mt-6 w-full">
    Download CV
    <ArrowDownIcon
      class="h-4 w-4 stroke-zinc-400 transition group-active:stroke-zinc-600 dark:group-hover:stroke-zinc-50 dark:group-active:stroke-zinc-50"
    />
  </SecondaryButton>
</div>
