---
import { getCollection } from "astro:content";
import Config from "../../../astro.config";
import arrowDownSvg from "../../assets/general/arrow_down.svg?raw";
import briefcaseSvg from "../../assets/general/briefcase.svg?raw";
import SecondaryButton from "../Utility/SecondaryButton.astro";
import ResumeItem from "./ResumeItem.astro";

const roles = await getCollection("roles");
---

<div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
    <span class="h-6 w-6 flex-none"><Fragment set:html={briefcaseSvg} /></span>
    <span class="ml-3">Work</span>
  </h2>
  <ol class="mt-6 space-y-4">
    {roles.map(({ data }) => data.map((role) => <ResumeItem role={role} />))}
  </ol>
  <a href={`${Config.publicDir}/resume.pdf`} download>
    <SecondaryButton class="group mt-6 w-full">
      Download résumé
      <span
        class="h-4 w-4 stroke-zinc-400 transition group-active:stroke-zinc-600 dark:group-hover:stroke-zinc-50 dark:group-active:stroke-zinc-50"
      >
        <Fragment set:html={arrowDownSvg} /></span
      >
    </SecondaryButton></a
  >
</div>
