---
const featureItems = [
  {
    imageSrc: "https://cdn.tuk.dev/assets/templates/portfolio/rectangle.png",
    tag: "JAVASCRIPT",
    title: "Building an Interactive Showcase with Vue.js & Vue Instant Search",
  },
  {
    imageSrc: "https://cdn.tuk.dev/assets/templates/portfolio/book.png",
    tag: "JAVASCRIPT",
    title: "In Defense of Utility-First CSS",
  },
  {
    imageSrc: "https://cdn.tuk.dev/assets/templates/portfolio/coding.png",
    tag: "JAVASCRIPT",
    title: "Why Javascript Numbers Are Weird (And How to Fix It)",
  },
];
---

<section class="mx-auto container mt-36 xl:px-0 mb-10">
  <div class="flex xl:flex-row justify-between flex-col">
    <div
      class="flex flex-col justify-start xl:text-right text-left items-right xl:flex-[0_0_30%] xl:mr-10 mb-10"
    >
      <h1 class="text-6xl text-white">💻 Projects</h1>
      <div class="mt-8">
        <p class="text-base leading-normal text-gray-400">
          Fit four loko put a bird on it lo-fi fixie fanny pack disrupt gentrify
          chillwave helvetica hexagon beard. Yes plz JOMO chillwave gastropub
          shaman woke. Sartorial occupy copper mug, freegan enamel pin fixie
          trust fund palo santo big mood cold-pressed beard hoodie yes plz
          selfies. Put a bird on it direct trade scenester hashtag. Direct trade
          literally pork belly, hexagon messenger bag yuccie cloud bread. Hoodie
          copper mug chillwave lomo, blog godard selfies offal JOMO narwhal.
        </p>
      </div>
      <div class="mt-8">
        <a href="/projects">
          <p
            class="text-base font-semibold hover:underline text-white cursor-pointer"
          >
            View all projects
          </p>
        </a>
      </div>
    </div>
    <div
      class="flex xl:flex-row lg:flex-row md:flex-row justify-between items-stretch flex-col"
    >
      {
        featureItems.map((item) => (
          <div class="mb-10 flex flex-[0_0_32%] flex-col items-start justify-between rounded bg-gray-800 p-3 md:p-6 xl:mb-0">
            <div class="w-full">
              <div class="w-full">
                <img class="w-full" src={item.imageSrc} alt="spider-web" />
              </div>
              <div class="mt-4 md:mt-6">
                <p class="text-xs font-medium leading-3 text-white">
                  {item.tag}
                </p>
              </div>
              <div class="mt-2 md:mt-4">
                <p class="text-base font-semibold text-white md:text-2xl">
                  {item.title}
                </p>
              </div>
            </div>
            <div class="mt-16 flex self-end">
              <a
                href="#"
                class="cursor-pointer text-xs leading-3 text-gray-300 hover:underline focus:underline focus:outline-none"
              >
                <button
                  type="button"
                  class="mr-2 mb-2 rounded-lg bg-gradient-to-br from-green-300 via-blue-500 to-purple-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gradient-to-bl focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800"
                >
                  Go to project
                </button>
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
