---
---

<section class="mx-auto container mt-36 px-6 lg:px-14 xl:px-0 mb-10">
  <div class="flex flex-col justify-center items-center">
    <div
      class="xl:hidden flex flex-col justify-start xl:text-right text-left items-right w-full xl:w-80"
    >
      <div class="">
        <h1 class="text-6xl text-white">Work</h1>
      </div>
      <div class="mt-8">
        <p class="text-base leading-normal text-gray-400">
          I am a Web Developer located in Hartford, Connecticut. I currently
          work as a part time Remote Junior Web Developer for Coolor, located in
          Las Vegas. It is a long established fact that a reader will be
          distracted by the readable content
        </p>
      </div>
      <div class="mt-8">
        <a href="/projects">
          <p
            class="text-base font-semibold hover:underline text-white cursor-pointer"
          >
            View all work
          </p>
        </a>
      </div>
    </div>
    <div
      class="w-full items-center grid xl:grid-cols-4 md:grid-cols-3 grid-cols-1 xl:gap-x-6 gap-x-4 md:gap-x-6 mt-16 xl:mt-0 gap-y-4 md:gap-y-0"
    >
      <div
        class="w-full xl:w-72 flex flex-col justify-between items-start p-3 md:p-6 bg-gray-800 rounded"
      >
        <div class="w-full">
          <div class="w-full">
            <img
              class="w-full"
              src={"https://cdn.tuk.dev/assets/templates/portfolio/rectangle.png"}
              alt="spider-web"
            />
          </div>
          <div class="md:mt-6 mt-4">
            <p class="text-xs font-medium leading-3 text-white">JAVASCRIPT</p>
          </div>
          <div class="md:mt-4 mt-2">
            <p class="xl:w-60 text-base md:text-2xl font-semibold text-white">
              Building an Interactive Showcase with Vue.js & Vue Instant Search
            </p>
          </div>
        </div>
        <div class="mt-4">
          <a
            href="#"
            class="cursor-pointer focus:outline-none text-xs leading-3 hover:underline focus:underline text-gray-300"
          >
            <p class="">Go to project</p>
          </a>
        </div>
      </div>
      <div
        class="w-full xl:w-72 flex flex-col justify-between items-start h-full p-3 md:p-6 bg-gray-800 rounded"
      >
        <div class="w-full">
          <div class="w-full">
            <img
              class="w-full"
              src={"https://cdn.tuk.dev/assets/templates/portfolio/book.png"}
              alt="book"
            />
          </div>
          <div class="md:mt-6 mt-4">
            <p class="text-xs font-medium leading-3 text-white">JAVASCRIPT</p>
          </div>
          <div class="md:mt-4 mt-2">
            <p class="xl:w-60 text-base md:text-2xl font-semibold text-white">
              In Defense of Utility-First CSS
            </p>
          </div>
        </div>
        <div class="mt-4">
          <a
            href="#"
            class="cursor-pointer focus:outline-none text-xs leading-3 hover:underline focus:underline text-gray-300"
          >
            <p class="">Go to project</p>
          </a>
        </div>
      </div>
      <div
        class="w-full xl:w-72 flex flex-col h-full justify-between items-start p-3 md:p-6 bg-gray-800 rounded"
      >
        <div class="w-full">
          <div class="w-full">
            <img
              class="w-full"
              src={"https://cdn.tuk.dev/assets/templates/portfolio/coding.png"}
              alt="book"
            />
          </div>
          <div class="md:mt-6 mt-4">
            <p class="text-xs font-medium leading-3 text-white">JAVASCRIPT</p>
          </div>
          <div class="md:mt-4 mt-2">
            <p class="xl:w-60 text-base md:text-2xl font-semibold text-white">
              Why Javascript Numbers Are Weird (And How to Fix It)
            </p>
          </div>
        </div>
        <div class="mt-4">
          <a
            href="#"
            class="cursor-pointer focus:outline-none text-xs leading-3 hover:underline focus:underline text-gray-300"
          >
            <p class="">Go to project</p>
          </a>
        </div>
      </div>
      <div class="xl:block flex flex-col justify-end text-right items-end w-80">
        <div class="">
          <h1 class="text-6xl font-extrabold text-white">Work</h1>
        </div>
        <div class="mt-8">
          <p class="text-base leading-normal text-gray-400">
            I am a Web Developer located in Hartford, Connecticut. I currently
            work as a part time Remote Junior Web Developer for Coolor, located
            in Las Vegas. It is a long established fact that a reader will be
            distracted by the readable content
          </p>
        </div>
        <div class="mt-8 flex justify-end">
          <div class="border-b border-transparent hover:border-white">
            <a
              href="#"
              class="cursor-pointer focus:outline-none text-base font-bold text-white"
            >
              <p>View all work</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
