---
interface Props {
  href: string;
  "aria-label"?: string;
}

const { href, "aria-label": label } = Astro.props;
---

<a href={href} aria-label={label} target="_blank" rel="noopener noreferrer" class="group -m-1 cursor-pointer p-1">
  <div
    class="h-6 w-6 fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300"
  >
    <slot />
  </div>
</a>
