---
import spotifySvg from "../../assets/general/spotify_logo.svg?raw";

const { class: className } = Astro.props;
---

<div class="max-w-[400px]">
  <div class="grid max-h-[200px] grid-cols-[125px_225px_50px] grid-rows-[1fr] gap-x-0 gap-y-0 overflow-clip rounded-t">
    <div class="h-[125px] bg-black">1</div>
    <div
      class="flex cursor-default flex-col items-start justify-center truncate bg-neutral-100 px-8 dark:bg-neutral-900"
    >
      <p class="inline-block max-w-full truncate font-bold text-zinc-800 dark:text-zinc-100">Shake Your Rump</p>
      <p class="inline-block max-w-full truncate text-base text-zinc-600 dark:text-zinc-400">Beastie Boys</p>
    </div>
    <div class="flex flex-col items-center justify-evenly bg-neutral-400 dark:bg-neutral-950">
      <button class="h-7 w-7 cursor-default rounded-full bg-zinc-500 fill-zinc-50 p-0 dark:bg-zinc-400 dark:fill-black">
        <div class="mt-1 inline-block h-5 w-5" set:html={spotifySvg} />
      </button>
      <span class="cursor-pointer text-zinc-50 dark:text-zinc-400">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
        </svg>
      </span>
    </div>
  </div>
  <div class="mb-4 h-1.5 w-full rounded-full bg-zinc-200 dark:bg-zinc-600">
    <div class="h-1.5 rounded-full bg-green-500" style="width: 45%"></div>
  </div>
</div>
