---
import { getCollection } from "astro:content";
import FluidContainer from "../components/Container/FluidContainer.astro";
import BaseLayout from "../components/General/BaseLayout.astro";
import Activity from "../components/Homepage/Activity.astro";
import FeaturedProject from "../components/Homepage/FeaturedProject.astro";
import Photos from "../components/Homepage/Photos.astro";
import Resume from "../components/Homepage/Resume.astro";
import SocialLink from "../components/Homepage/SocialLink.astro";
import SpotifyWidget from "../components/Spotify/SpotifyWidget.astro";

const socials = await getCollection("socials");
const featuredProject = await getCollection("projects", (entry) => entry.data.featured === true).then((res) => res[0]);
---

{/* @TODO: Everywhere, image optimization */}

<BaseLayout title="Zac Clark - Software Engineer" description="A software engineer based in Upstate New York">
  <FluidContainer class="mt-9">
    <div class="max-w-2xl">
      <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
        developer, tinkerer, and sports enthusiast.
      </h1>
      <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
        I'm Zac, a software engineer based in Upstate New York. I'm a builder at heart and create web based software
        solutions that solve real-world problems and enhance the user experience. I enjoy leveraging my technical skills
        and creativity to design and develop software that is efficient, user-friendly, and visually appealing.
      </p>
      <div class="mt-6 flex gap-6">
        {socials.map(({ data }) => <SocialLink social={data} />)}
      </div>
    </div>
  </FluidContainer>
  <Photos />
  <FluidContainer class="mt-24 md:mt-28">
    <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
      <div class="flex flex-col gap-8">
        {/* TODO: Flesh out projects. First featured project will be this website. */}
        <FeaturedProject project={featuredProject} />
        <Activity />
      </div>
      <div class="space-y-10 lg:pl-16 xl:pl-24">
        <Resume />
      </div>
    </div>
    <SpotifyWidget />
  </FluidContainer>
</BaseLayout>
