---
// @@TODO eventually do some filtering here on a boolean for `published` and do some sorting here based on `publishedDate`
const allProjects = await Astro.glob("./projects/*.md");
---

<div>
  {
    allProjects.map((project) => {
      return (
        <div>
          <a class="text-black" href={"/projects/" + project.frontmatter.slug}>
            {project.frontmatter.title}
          </a>
        </div>
      );
    })
  }
</div>
