---
import { getCollection } from "astro:content";
import BaseLayout from "../components/General/BaseLayout.astro";
import PageLayout from "../components/General/PageLayout.astro";
import Usage from "../components/Uses/Usage.astro";
import UsageSection from "../components/Uses/UsageSection.astro";

const usages = await getCollection("uses");
---

<BaseLayout title="Uses - Zac Clark" description="Software I use, gadgets I love, and other things I recommend.">
  <PageLayout>
    <Fragment slot="title">{"Software I use, gadgets I love, and other things I recommend."}</Fragment>
    <Fragment slot="intro">
      Inspired by <a
        class="cursor-pointer underline"
        href="https://wesbos.com/uses"
        rel="noopener noreferrer"
        target="_blank">Wes Bos</a
      >' popular <a class="cursor-pointer underline" href="https://uses.tech/" rel="noopener noreferrer" target="_blank"
        >uses.tech</a
      >
    </Fragment>
    <div class="space-y-20">
      {
        usages.map(({ data: { section, data: usages } }) => (
          <UsageSection id={section} title={section}>
            {usages.map((usage) => (
              <Usage usage={usage} />
            ))}
          </UsageSection>
        ))
      }
    </div>
  </PageLayout>
</BaseLayout>
