---
// TODO: For now this doesn't take in props, as more pages are added it'll take in props and use those respectively
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<meta name="title" content="zclabs" />
<meta name="description" content="Zac Clark" />
<meta name="author" content="Zac Clark" />

<meta property="og:title" content="zclabs | Zac Clark" />
<meta property="og:description" content="Zac Clark" />
<meta property="og:type" content="website" />
<meta property="og:url" content={`${Astro.site}`} />

<title>zclabs | Zac Clark</title>
