---
import Footer from "../Footer/Footer.astro";
import Header from "../Header/Header.astro";
import BaseFont from "./BaseFont.astro";
import BaseMeta from "./BaseMeta.astro";
import BaseStyles from "./BaseStyles.astro";
---

<html lang="en" dir="ltr">
  <head>
    <BaseMeta />
    <BaseFont />
    <BaseStyles />
    <script>
      console.log(
        `
##     ## #### ########  ########    ##     ## ########
##     ##  ##  ##     ## ##          ###   ### ##      
##     ##  ##  ##     ## ##          #### #### ##      
#########  ##  ########  ######      ## ### ## ######  
##     ##  ##  ##   ##   ##          ##     ## ##               
##     ##  ##  ##    ##  ##          ##     ## ##       
##     ## #### ##     ## ########    ##     ## ########   ...please ツ
        `
      );
    </script>
  </head>
  <body>
    <div class="flex min-h-screen w-screen justify-center bg-app-antiFlashWhite dark:bg-app-gunmetal">
      <div class="flex w-full max-w-[1200px] flex-col">
        <Header />
        <main>
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>
