---
import { Icon } from "astro-icon";

const { href, iconName, text } = Astro.props;
---

<a
  class="flex items-center gap-2 rounded border border-solid px-4 py-3 text-base font-bold hover:underline focus:underline"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <div class="w-9 no-underline"><Icon pack="ion" name={iconName} /></div>
  {text}
</a>
