---
const { imgSrc, reverseImg = false, title } = Astro.props;
---

<section class="my-32">
  <div class="container">
    <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
      {!reverseImg ? <img class="rounded-lg" src={imgSrc} alt="" decoding="async" loading="lazy" /> : ""}
      <div class="space-content flex flex-col justify-center gap-6">
        <h2 class="text-4xl font-extrabold">{title}</h2>
        <p class="text-2xl">
          <slot />
        </p>
      </div>
      {reverseImg ? <img class="rounded-lg" src={imgSrc} alt="" decoding="async" loading="lazy" /> : ""}
    </div>
  </div>
</section>
