---
import AnimatedTextContainer from "./AnimatedTextContainer";
import Button from "./Button";
---

<section class="my-24 flex items-center justify-between">
  <aside class="flex flex-col gap-8 text-center text-6xl font-bold md:text-left lg:text-8xl">
    <AnimatedTextContainer client:load />
    <div class="flex gap-3 min-[500px]:flex-row">
      <Button href="https://www.linkedin.com/in/zrclark/" iconName="logo-linkedin" text="Connect" client:load />
      <Button href="https://github.com/zandoh" iconName="logo-github" text="GitHub" client:load />
    </div>
  </aside>
  <aside>
    <img class="hidden max-w-[560px] lg:block" src="/astronaut-hero-img.webp" alt="" decoding="async" loading="lazy" />
  </aside>
</section>
