---
import Header from "../components/Header/Header.jsx";
---

<html lang="en" class="bg-[color:var(--zc-color-theme)]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Zac Clark | zclabs</title>
  </head>
  <body>
    <Header client:load />
    <slot />
  </body>
</html>
