---
import Background from "../components/Background/Background.jsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Zac Clark | zclabs</title>
  </head>
  <body class="bg-gradient-to-r h-screen w-screen">
    <Background client:load />
    <slot />      
  </body>
</html>
