---
import IntroHighlight from "./IntroHighlight.astro";
---

<section>
  <div
    class="flex justify-between items-center flex-col xl:flex-row xl:space-x-12 space-y-16 xl:space-y-0"
  >
    <div class="flex justify-start items-start flex-col">
      <div>
        <h1
          class="md:text-7xl text-4xl font-black leading-tight text-white xl:w-4/5"
        >
          Hello, I'm <span
            class="text-transparent bg-clip-text bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
            >Zac Clark</span
          > 👋
        </h1>
      </div>
      <div class="md:mt-4 mt-2">
        <p class="text-base leading-normal text-gray-400 xl:w-96">
          I'm software tinkerer located in Upstate New York. I currently work as
          a Software Engineer building a new product for <span
            class="text-red-400">Bryx</span
          >, a public saftey startup.
        </p>
      </div>
      <div class="mt-12 border-b border-transparent hover:border-white pb-1">
        <a
          href="mailto:zclarkmail+zclabs@gmail.com"
          class="tracking-wide focus:outline-none focus:text-gray-300 text-base font-bold leading-none text-white"
        >
          <p>Lets get in touch</p>
        </a>
      </div>
    </div>
    <div class="flex justify-start items-start flex-col xl:w-8/12">
      <p class="text-lg font-bold leading-none text-white">Featured</p>
      <IntroHighlight
        technology="Javascript"
        title="📜 Front-end architecture"
        summary={`Yuccie distillery lomo vegan narwhal. Quinoa gatekeep biodiesel fingerstache etsy, banjo aesthetic kale chips meh butcher man braid shaman affogato. Normcore kombucha pug etsy plaid. Health goth distillery pok pok, plaid farm-to-table man braid pinterest XOXO kombucha letterpress.`}
        date="July 21st 1994"
      />
      <IntroHighlight
        technology="Rust"
        title="🦀 API Development"
        summary={`Cronut drinking vinegar salvia put a bird on it yes plz la croix. Chartreuse 8-bit keffiyeh selvage edison bulb tacos biodiesel organic vibecession man braid mustache. Blog bespoke shaman hella bushwick, pitchfork paleo chambray retro prism messenger bag same. Vinyl chia sus chillwave jean shorts pour-over celiac lyft neutra air plant squid vape.`}
        date="July 21st 1994"
      />
    </div>
  </div>
</section>
