---
export interface IntroHighlightProps {
  technology: string;
  title: string;
  summary: string;
  date: string;
}

const { technology, title, summary, date } = Astro.props;

const formattedDate = new Date(date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<div
  class="px-8 py-10 mt-4 bg-gray-800 flex justify-start items-start flex-col rounded"
>
  <p class="text-xs font-medium leading-3 text-white uppercase">{technology}</p>

  <div class="md:mt-2">
    <p class="text-2xl md:text-3xl font-semibold lg:leading-7 text-white">
      {title}
    </p>
  </div>
  <div class="mt-2 md:mt-4">
    <p class="text-base leading-normal text-gray-300">
      {summary}
    </p>
  </div>
  <div class="mt-3 md:mt-6">
    <div class="inline-flex space-x-2 items-center justify-start w-40 h-4">
      <p class="text-base leading-none text-gray-400 whitespace-nowrap">
        {formattedDate}
      </p>
    </div>
  </div>
</div>
