---
const currentYear = new Date().getFullYear();
---

<footer>
  <section class="py-8">
    <div class="container">
      <p class="text-app-onyx dark:text-app-antiFlashWhite">
        &copy; {currentYear} zclabs - <span
          >Made with ☕ and <a
            href="https://astro.build/"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:underline">🚀 astro</a
          >
        </span>
      </p>
    </div>
  </section>
</footer>
