---
import ExperienceEntry from "./ExperienceEntry.astro";
---

<section>
  <p class="font-bold leading-none text-white text-5xl my-12">Experience</p>
  <ol class="relative border-l border-gray-200 dark:border-gray-700">
    <ExperienceEntry
      timeframe="October 2022 - Current"
      company="Bryx"
      title="Senior Software Engineer"
      description={`Offal jianbing readymade PBR&B, migas farm-to-table chillwave ascot stumptown sustainable coloring book keffiyeh pork belly. Glossier flannel portland chambray 8-bit beard cred pabst pitchfork keffiyeh raw denim chartreuse. Raclette synth vaporware squid. Hammock hella fam before they sold out live-edge tattooed, poutine gastropub humblebrag selfies. Coloring book letterpress copper mug vibecession before they sold out edison bulb, fashion axe lyft snackwave irony bushwick vinyl kombucha glossier.`}
    />
    <ExperienceEntry
      timeframe="August 2021 - October 2022"
      company="Datto"
      title="Senior Software Engineer"
      description={`Next level heirloom seitan prism vaporware. Ascot locavore meggings, fam narwhal roof party occupy cray tote bag taxidermy tacos. DIY fam cronut sus hammock master cleanse gentrify thundercats hella next level viral. Sriracha mixtape chartreuse retro paleo keffiyeh pug YOLO tonx. Tbh austin chicharrones echo park poutine praxis kickstarter bicycle rights single-origin coffee fit pork belly activated charcoal irony bodega boys neutra.`}
    />
    <ExperienceEntry
      timeframe="March 2020 - August 2021"
      company="Datto"
      title="Software Engineer"
      description={`Etsy literally put a bird on it chillwave vice viral brunch paleo pork belly selvage hot chicken fit post-ironic. Gentrify vice tonx, tumblr offal pour-over yes plz chillwave twee messenger bag hot chicken pickled shoreditch. Echo park brunch DIY hell of normcore franzen pop-up migas vice meh selfies. Fingerstache austin slow-carb mustache palo santo big mood venmo cronut. Fingerstache austin pop-up irony tattooed bruh normcore snackwave microdosing bodega boys yes plz shabby chic kinfolk lo-fi. Tumblr tbh iceland, hella subway tile snackwave freegan shaman neutra.`}
    />
    <ExperienceEntry
      timeframe="January 2018 - February 2020"
      company="EagleDream Technologies"
      title="Software Engineer"
      description={`Gluten-free pitchfork aesthetic sriracha retro sustainable ennui edison bulb +1 iceland sus. Neutra chia fashion axe kinfolk ugh chambray. Leggings ramps yuccie semiotics XOXO, banjo gentrify dreamcatcher green juice asymmetrical quinoa fanny pack austin vape. Hexagon wolf intelligentsia mustache you probably haven't heard of them beard vape, slow-carb plaid butcher aesthetic helvetica bushwick williamsburg echo park. Fashion axe selfies praxis put a bird on it.`}
    />
    <ExperienceEntry
      timeframe="August 2016 - December 2017"
      company="EagleDream Technologies"
      title="Software Engineer Co-Op"
      description={`Franzen gatekeep fam tumeric fit poutine. Meh quinoa cloud bread jean shorts yes plz sus 3 wolf moon. Tacos same jianbing mustache gastropub. Lumbersexual intelligentsia swag, knausgaard cronut PBR&B ennui bespoke umami wolf kale chips. Retro pok pok gatekeep heirloom. Meh yuccie typewriter seitan roof party, gatekeep wolf before they sold out affogato you probably haven't heard of them pork belly lo-fi mumblecore. 3 wolf moon vexillologist fashion axe scenester craft beer cloud bread semiotics distillery PBR&B street art.`}
    />
    <ExperienceEntry
      timeframe="June 2016 - August 2016"
      company="CXTec"
      title="Web Developer Co-op"
      description={`Locavore heirloom kogi, pug quinoa hoodie plaid cliche ramps dreamcatcher mustache scenester vice. Scenester adaptogen viral tilde bushwick butcher ethical blue bottle jean shorts big mood affogato. Waistcoat actually leggings, XOXO VHS sartorial pok pok big mood air plant deep v man braid. Put a bird on it ramps iceland fingerstache church-key cred man bun, mukbang narwhal yr. Affogato ugh neutra retro man braid freegan. Flannel paleo austin, kinfolk hot chicken kale chips jianbing ascot meggings.`}
    />
  </ol>
</section>
