---
const { class: className } = Astro.props;
---

<button
  class:list={[
    "inline-flex items-center justify-center gap-2 rounded-md px-3 py-2 text-sm outline-offset-2 transition active:transition-none",
    className,
  ]}
>
  <slot />
</button>
